.App {
  text-align: center;
}

.messages-list {
  flex-grow: 1;
  overflow-y: auto;
}
.user-message,
.ai-message {
  margin-bottom: 20px;
  max-width: 100%;
  box-shadow: 1px 2px 3px rgb(0, 0, 0, 0.2);
}

.user-message {
  align-self: flex-end;
  background: #2979ff;
  color: #fff;
  padding: 10px 15px;
  border-radius: 16px 16px 0 16px;
}

.ai-message {
  align-self: flex-start;
  background: #f0f0f0;
  color: #333;
  padding: 10px 15px;
  border-radius: 16px 16px 16px 0;
}
